#contact-modal,
#thanks-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--greyOpaque0);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  z-index: 999;
  transition: all 2s ease;
}

#contact-modal .subtitle {
  margin-top: 0.5rem;
  line-height: 1.2;
}

#contact-modal .subtitle em {
  font-size: small;
  margin-left: 0.5rem;
  color: var(--colorGrey2);
}

#contact-form,
#ty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  gap: 1rem;
  width: 98%;
  max-width: 35rem;
  padding: 1rem;
  translate: 0 -5vh;
  animation: fadeIn 0.5s ease-in backwards;
}

#contact-form .top {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: black;
}

#contact-form .label {
  font-weight: 700;
  font-size: 1.5rem;
  font-kerning: normal;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}

#contact-form .subtitle {
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

#contact-form input,
#contact-form textarea {
  font-family: inherit;
  padding: 0.5rem;
  max-width: 40rem;
  border: 2px solid black;
  outline: none;
  background-color: #ffffffdd;
  border-radius: 5px;
  font-size: 0.9rem;
  resize: none;
}

#contact-form textarea {
  height: 8rem;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  opacity: 0.8;
}

#contact-form .modal-button {
  margin: 0;
}

#contact-form input:focus,
#contact-form textarea:focus,
#contact-form .modal-button:hover {
  outline: none;
  border: 2px solid black;
}

#contact-form button:disabled {
  background-color: var(--colorGrey2);
  cursor: not-allowed;
  border-color: grey;
  color: grey;
}

#contact-form .modal-close {
  width: 1.25rem;
  height: 1.25rem;
  background-color: crimson;
  position: fixed;
  top: 0;
  right: 0;
  background: url(../assets/cross.svg) no-repeat center center;
  transition: transform 0.5s ease;
  filter: invert(1);
}

#contact-form .modal-close:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

#contact-form .error {
  color: red;
}

#contact-form .success {
  color: green;
}

#contact-form .warning {
  color: orange;
}

#contact-form .info {
  color: blue;
}

#contact-form .hidden {
  display: none;
}

#contact-form .visible {
  display: block;
}

#contact-form .hidden {
  display: none;
}

#contact-form .visible {
  display: block;
}

#thanks-message {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
