.wip {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  max-height: 100dvh;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--greyOpaque1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 9999;
  translate: 0 -100vh;
  animation: dammitAnimation 0.7s ease-in forwards;
  user-select: none;
}

.modal-extra-h1 {
  width: fit-content;
  max-width: 768px;
  text-align: left;
  line-height: 1.2;
  color: black;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.wip-message {
  text-align: left;
  max-width: fit-content;
  background: #ffffff44;
  padding: 2rem 3rem;
  border-radius: var(--radius);
}

.wip-message h1 {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.wip-message span:hover {
  position: relative;
  color: var(--accent);
  transition: color 0.1s ease-in-out;
}

.wip-message span::after {
  content: 'This is not a link. You must remain here.';
  display: block;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.95rem;
  width: fit-content;
  padding: 0 0.5rem;
  text-wrap: nowrap;
  color: white;
  background: var(--backgroundRed);
}

.wip h3 {
  width: 100%;
  text-align: center;
}

.wip-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.modal-button {
  color: black;
  font-weight: 600;
  width: fit-content;
  min-width: 12rem;
  max-width: 90vw;
  margin-top: 2.5rem;
  text-align: center;
  padding: 0.55rem 1.15rem;
  border: 2.25px solid black;
  border-radius: calc(var(--radius) / 1.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: rgba(256, 256, 256, 0.5);
  font-size: 1rem;
}

.modal-button:hover {
  background-color: var(--accent);
  color: white;
}

/* .wip-image {
  width: 6rem;
  height: 6rem;
  background: url('../assets/wip.svg') center center no-repeat;
  margin-bottom: 1rem;
} */
