#button-next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  min-width: 8rem;
  font-family: Poppins, Montserrat, Roboto, sans-serif;
  font-size: 1rem;
  color: black;
  border: 2px solid black;
  border-radius: var(--radiusSmall);
  text-align: right;
  padding: 0.5rem 1.25rem 0.1rem;
  transition: padding 0.3s ease;
  cursor: pointer;
}

#button-next .arrow {
  margin: -0.3rem 0.5rem 0 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  transition: margin 0.3s ease;
}

#button-next.right {
  text-align: left;
}

#button-next.right .arrow {
  text-align: right;
  margin: -0.3rem 0 0 0.5rem;
}

#button-next:hover > .arrow {
  margin: -0.3rem 1.5rem 0 0;
}

#button-next.right:hover > .arrow {
  margin: -0.3rem 0 0 1.5rem;
}

#button-next.right:active > .arrow {
  color: var(--walker);
}

#button-next.right:active > .arrow {
  color: var(--walker);
}
